extends base
block content 
    .container-fluid.pt-5.pb-3
          h2.section-title.position-relative.text-uppercase.mx-xl-5.mb-4
            span.bg-secondary.pr-3= category.name
          .row.px-xl-5
              each product in products
                .col-lg-3.col-md-4.col-sm-6.pb-1
                  .product-item.bg-light.mb-4
                    .product-img.position-relative.overflow-hidden
                      img.img-fluid.w-100(src=`/img/${product.photo}` alt='')
                      .product-action
                        a.btn.btn-outline-dark.btn-square(href='')
                          i.fa.fa-shopping-cart
                        a.btn.btn-outline-dark.btn-square(href='')
                          i.far.fa-heart
                        a.btn.btn-outline-dark.btn-square(href='')
                          i.fa.fa-sync-alt
                        a.btn.btn-outline-dark.btn-square(href='')
                          i.fa.fa-search
                    .text-center.py-4
                      a.h6.text-decoration-none.text-truncate(href=`/product/${product._id}`)= product.name
                      .d-flex.align-items-center.justify-content-center.mt-2
                        h5= `$${product.price}`
                        h6.text-muted.ml-2
                          del= `${product.oldPrice}`
                      .d-flex.align-items-center.justify-content-center.mb-1
                        each review in product.reviews
                            -let n = 0
                             while n<review.rating
                                small.fa.fa-star.text-primary.mr-1
                                -n++
                        small= `(${product.reviews.length})`

